body {
  color: #303336;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  color: #404346;
  font-weight: normal !important;
}
a, a:visited {
  color: #ff1140; 
  text-decoration: none !important;
}
ul li {
  list-style-type: none;
  position: relative;
}
ul li:before {
  content: "*";
  position: absolute;
  top: 4px;
  left: -20px;
}
article blockquote, article header, article section p,
article footer, .inner, #mc_embed_signup, article section ul,
article section .see-more {
  padding: 0 30px;
  max-width: 820px;
  margin: 0 auto;
  display: block;
}
#mc_embed_signup {
  margin: 40px auto !important;
}
.header {
  color: #303336;
  padding: 20px 0 40px;
  border-width: 0;
  width: 100%;
}
.header h1, .header h1 a {
  color: #303336;
  font-size: 30px;
  position: relative;
}
.header h1:before, .header h1:after {
 content: "";
 position: absolute;
 background-color: #303336;
 height: 2px;
 width: 75px;
 bottom: 3px;
 right: 0px;
}
.header h1:after {
 right: 86px;
 width: 37px;
}
.header h2 {
  margin-top: 5px !important;
  font-weight: 200 !important;
  font-size: 20px;
}
.header h1, .header h2 {
  text-align: right;
  margin: 0;
  color: #303336 !important;
}
.header .social-links
{
  margin-top: 10px;
  text-align: right;
}
.header .social-links a {
  color: #ff1140 !important;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  text-align: center;
  width: 24px;
  margin: 5px 0 0 8px;
  font-size: 22px;
  line-height: 22px;
  font-family: FontAwesome !important;
}
.header .social-links .fa-envelope {
  line-height: 18px;
  font-size: 18px;
}
.header.minimized {
  position: fixed;
  top: 15px;
  left: 15px;
  padding:12px;
  border: 2px solid #50C0F0;
}
.header.minimized h1 {
  padding: 0px;
  font-size:20px;
  line-height: 20px;
}
article {
  font-weight: 300;
}
article .image-wrapper {
  margin: auto;
  max-width: 800px;
  padding: 0 15px;
}
article img {
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  margin:  60px auto 0;
  border-radius: 3px;
}
article .caption {
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
article header {
  margin: 80px auto 70px;
}
article header > a:first-child {
  display: block;
}
article header h2 {
  font-size: 30px; 
  line-height: 40px;
  color: #404346;
  padding: 0 0 25px 10px;
  margin-left: -12px;
}
article header h3 {
  margin: -40px 0 0 0;
  font-size: 16px;
  line-height: 36px;
  color: #606669;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
article header h3 a {
  display: inline-block;
}
article header h3 .separator {
  margin: 0 6px;
}
article .blockquote-wrap {
  padding: 20px 0;
  width: 100%;
  background-color: #f0f0f0;
  font-size: 26px;
}
article .blockquote-wrap blockquote {
  color: #999;
  position: relative;
}
article .blockquote-wrap blockquote .big-quote {
  position: absolute;
  top: 26px;
  left: -15px;
}
article .blockquote-wrap .tweet-quote {
  width: 130px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 10px auto 0px;
  padding: 6px;
  border: 2px solid #55acee;
  color: #55acee !important;
  border-radius: 8px;
}
article blockquote {
  padding: 20px;
  color: #333;
  font-weight: normal;
  position: relative;
}
article section, article footer, article header {
  font-size: 19px;
  line-height: 36px;
}
article footer {
  margin-top: 20px;
}
article section p {
  margin: 40px auto;
}
article.home {
  margin-bottom: 120px;
}
article.home section.main > *:first-child {
  margin-top: -40px;
}
article.home section.main > *:last-child {
  margin-bottom: 10px;
}
.see-more {
  margin-top: 30px !important;
  display: inline-block;
}
hr {
  margin: 30px 0;
  border: 0px;
  height: 2px;
  width: 100%;
  background-color: #999;
}
article code, article code span {
  font-family: monospace !important;
  color: #ddd;
  background-color: #606060;
  padding: 2px 5px;
  font-size: 14px;
}
article .highlighter-rouge {
  width: 100%;
  background-color: #606060;
}
article pre {
  max-width: 800px;
  margin: auto;
  font-family: monospace !important;
  font-size: 14px;
  line-height: 24px;
  color: #ddd;
  overflow: scroll;
  padding: 14px 20px 20px;
}
pre code, pre span {
  padding: 0 !important;
}
.pagination {
  margin-top: -40px;
  text-align: center;
}

/* Add This */

.at-share-tbx-element {
  height: 36px;
}
.at-icon-wrapper {
  transition: background-color 0.25s;
}
#atstbx > .at-share-btn > .at-icon-wrapper:not(:hover) {
  background-color: #606669 !important;
}

/* Highlight Them */

.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #a5a18e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
