* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin:0;padding:0;
}
*::selection {
  background: #FF9C12; /* Safari */
}
*::-moz-selection {
  background: #FF9C12; /* Firefox */
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
html, body {
  min-width: 100%;
  min-height: 100%;
  font-weight: 300;
}
.head-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0074CE;
}
ol, ul {
  list-style-position: inside;
  padding: 0px 10px;
}
ul {
  list-style: none;
}
ul li:before {
  content: "*";
  color: #FF9C12;
  margin-right: 8px;
}
li {
  margin-bottom: 12px;
}
body {
  color:#393939;
  background-color:#fffcfa;
  font-family:Arial, Helvetica, sans-serif;
}
body > .content-wrap {
  position: relative;
  box-shadow: 0px -3px 3px rgba(0,0,0,0.2);
  margin-top: 246px;
  z-index: 100;
  min-width: 880px;
  left:0;
  top:0;
  background-color: #fffcfa;
}
a, a:visited {
  word-wrap: break-word;
  text-decoration: none;
  color: #0094DE !important;
}
a:hover, a:active {
  text-decoration: none;
  color: #00AAFF !important;
}
hr {
  margin: 25px 0;
  border: 0px;
  height: 2px;
  width: 100%;
  background-color: #fff0aa;
}
.content {
  position: relative;
  width: 720px;
  padding: 40px 80px;
  margin: 0 auto;
}
.head {
  margin-bottom: 80px;
}
.head h1 {
  color:#fff;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  text-align: right;
}
.head h2 {
  color:#eee;
  font-size: 16px;
  text-align: right;
}
.head h2 a, article footer .twitter {
  display: inline-block;
  border-radius: 3px;
  border: 2px solid #fff;
  font-family: "brandon-grotesque",sans-serif;
  background-color: #4099FF !important;
  padding: 4px 6px 5px;
  margin: 4px 0 4px 6px;
  color: #fff !important;
}
article footer .twitter {
  border: none;
}
.head h2 a:hover, article footer .twitter:hover {
  background-color: #50A9FF !important;
}
body .content .back {
  position: fixed;
  top: 207px;
  font-size: 16px;
  left: 50%;
  margin-left: -340px;
  display: inline-block;
  padding: 10px 14px 20px 14px;
  color: #fff !important;
  background-color: #FF9C12;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
body .content .back:hover {
  background-color: #ffc53a !important;
}
article {
  position: relative;
}
article p, article footer {
  line-height: 30px;
  font-size: 16px;
  margin: 16px 0;
}
article footer {
  margin-top:60px;
}
article .title:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 4px;
  width: 30px;
  height: 30px;
  background-color: #FF9C12;
  border-radius: 3px;
}
article .title h1 {
  margin:0;
  line-height: 32px;
  font-size: 24px;
  color: #191919;
}
article .title * {
  color: #191919;
}
article .title h2 {
  margin-top: 0;
  font-size: 12px;
}
article .title {
  position: relative;
  margin-top: 100px;
  margin-bottom: 30px;
}
article h2, article h1 {
  margin: 28px 0 16px 0;
  font-size: 16px;
  color: #404040;
}
article h2 *, article h1 * {
  color: #404040;
}
.pagination {
  margin-top: 70px;
  min-width: 100%;
  text-align: center;
}
pre, code {
  overflow: scroll;
  color:#191919;
  font-size: 14px;
  background-color: #d9d9d9;
  border-radius: 3px;
}
code {
  padding:2px 6px;
}
pre {
  padding: 20px 22px;
  margin: 24px 0;
}
pre code {
  padding:0;
}
strong {
  color: #000;
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-github:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
  margin-right: 4px;
  margin-left: 2px;
}
.up-next {
  transition: bottom 1s;
  -webkit-transition: bottom 1s;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  background-color: #fffcfa; 
  position: fixed;
  display: block;
  right: 20px;
  bottom: -400px;
  width: 200px;
  border-radius: 3px;
  border: 2px solid #FF9C12;
}
.up-next .title {
  background-color: #FF9C12;
  display: block;
  padding: 6px;
  color: #fff;
}
.up-next .body {
  color: #FF9C12;
  padding: 15px;
  display: block;
}
.up-next:hover .body {
  color: #ffc53a;
}
.up-next:hover .title {
  background-color: #ffc53a;
}
.up-next:hover {
  color: #ffc53a;
  border-color: #ffc53a;
}
@media only screen and (max-device-width: 480px) {
  .content-wrap, .head-wrap {
    min-width: 320px !important;
  }
  .head-wrap {
    width: auto !important;
  }
  .head-wrap {
    position: static;
  }
  .content {
    width: 280px;
    padding: 20px;
  }  
  body > .content-wrap {
    margin-top: 0;
  }
  #mc_embed_signup h2 {
    
    padding: 15px 0 15px 15px;
  }
  #mc_embed_signup h2 {
    width:250px !important; 
    font-size: 1.0em !important;
  }
  #mc_embed_signup .mc-field-group input {
    width: 250px;
  }
  article .title {
    margin-top: 60px;
  }
  article p, article li, article code, article pre {
    font-size: 14px;
    line-height: 28px;
  }
  article .title:before {
    left: 3px;
    top: -36px;
  }
  .head h2 {
    width:230px;
    margin-left:48px;
    margin-bottom:10px;
    margin-top:10px;
  }
  .head {
    margin-bottom: 40px;
  }
  .pagination {
     margin-top: 30px;
  }
  body .content .back {
    position:absolute;
    margin-left: -155px;
    top: 225px;
    padding: 10px;
  }
  .up-next {
    width: 286px;
    right: 15px;
    bottom: 15px;
  }
}
