body {
  color: #303336;
  background-color: #fafcff;
}
h1, h2, h3, h4, h5, h6 {
  color: #404346;
}
a, a:visited {
  color: #50C0E0;
  text-decoration: none;
}
a:hover, a:active {
  color: #1090C0;
  text-decoration: none;
}
ul li {
  list-style-type: none;
  position: relative;
}
ul li:before {
  content: "*";
  color: #ff1140;
  position: absolute;
  top: 4px;
  left: -20px;
}
article blockquote, article header, article section, article footer, .inner {
  padding: 0 30px;
  max-width: 820px;
  margin: 0 auto;
}
.header {
 padding: 40px 0;
 border-width: 0;
 border-color: #50C0E0;
 border-bottom-width: 4px;
 border-style: solid;
 color: #fff;
 width: 100%;
 background-color: #1090C0;
}
.header h1 {
  font-size: 30px;
  position: relative;
}
.header h1:before, .header h1:after {
 content: "";
 position: absolute;
 background-color: #ff1140;
 height: 2px;
 width: 75px;
 bottom: 3px;
 right: 0px;
}
.header h1:after {
 right: 86px;
 width: 37px;
}
.header h2 {
  font-size: 20px;
}
.header h1, .header h2 {
  text-align: right;
  margin: 0;
  color: #fff;
  font-weight: 300;
}
.header .social-links
{
  margin-top: 5px;
  text-align: right;
}
.header .social-links a {
  transition: 0.25s;
  -webkit-transition: 0.25s;
  text-align: center;
  width: 24px;
  margin-left: 5px;
  color: #fff !important;
  font-size: 26px;
  font-family: FontAwesome !important;
}
.header .social-links a:hover {
  color: #ff1140 !important;
}
.header.minimized {
  position: fixed;
  top: 15px;
  left: 15px;
  padding:12px;
  border-radius: 4px;
  border: 2px solid #50C0F0;
}
.header.minimized h1 {
  padding: 0px;
  font-size:20px;
  line-height: 20px;
}
article header {
  margin: 90px auto 70px;
}
article header > a:first-child {
  display: block;
}
article header h2 {
  font-size: 46px; 
  line-height: 50px;
  color: #404346;
  border-bottom: 5px solid #1090C0;
  padding: 0 0 10px 10px;
  margin-left: -12px;
}
article header h3 {
  margin: -40px 0 0 0;
  font-size: 16px;
  color: #606669;
}
article .blockquote-wrap {
  padding: 20px 0;
  width: 100%;
  background-color: #ff1140;
  font-size: 26px;
}
article blockquote {
  padding: 20px;
  color: #fff;
  font-weight: normal;
  position: relative;
}
article section, article footer, article header {
  font-size: 19px;
  line-height: 36px;
}
article section p {
  margin: 40px 0;
}
article.home {
  margin-bottom: 120px;
}
article.home section a.see-more {
  color: #ff1140;
}
article.home section a.see-more:hover {
  color: #ff4190;
}
article.home section.main *:first-child {
  margin-top: -40px;
}
article.home section.main *:last-child {
  margin-bottom: 10px;
}
hr {
  margin: 30px 0;
  border: 0px;
  height: 2px;
  width: 100%;
  background-color: #ff1140;
}
code {
  background-color: #e0e0e0;
  padding: 2px 5px;
  border-radius: 3px;
}
pre {
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow:scroll;
  padding: 14px 20px;
}
pre code {
  padding: 0;
}
.pagination {
  margin-top: -40px;
  text-align: center;
}
.pagination a {
  color: #ff1140;
}
.pagination a:hover {
  color: #ff4190;
}
