* {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin:0;padding:0;
}
*::selection {
  background: #FF9C12; /* Safari */
  }
*::-moz-selection {
  background: #FF9C12; /* Firefox */
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
html, body {
  min-width: 100%;
  min-height: 100%;
  font-weight: 300;
}
.head-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0094DE;
}
body {
  color:#696969;
  background-color:#f9f9f9;
  font-family:Arial, Helvetica, sans-serif;
}
body > .content-wrap {
  position: relative;
  box-shadow: 0px -5px 5px rgba(0,0,0,0.3);
  margin-top: 246px;
  z-index: 100;
  min-width: 880px;
  left:0;
  top:0;
  background-color: #f9f9f9;
}
a, a:visited {
  text-decoration: none;
  color: #0094DE !important;
}
a:hover, a:active {
  text-decoration: none;
  color: #00AAFF !important;
}
hr {
  margin: 40px 0;
  border: 0px;
  height: 2px;
  width: 100%;
  background-color: #ddddff
}
.content {
  position: relative;
  width: 720px;
  padding: 80px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
}
.head {
  margin-bottom: 80px;
}
.head h1 {
  color:#fff;
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  text-align: right;
}
.head h2 {
  color:#eee;
  font-size: 16px;
  text-align: right;
}
.head h2 a {
  font-family: "brandon-grotesque",sans-serif;
  color: #FF9C12 !important;
}
.head h2 a:hover {
  color: #ffc53a !important;
}
body .content .back {
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: -350px;
  color: #FF9C12 !important;
}
.back:hover {
  color: #ffc53a !important;
}
article {
  position: relative;
}
article p {
  line-height: 30px;
  font-size: 16px;
  margin: 16px 0;
}
article .title:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 4px;
  width: 30px;
  height: 30px;
  background-color: #FF9C12;
}
article .title h1 {
  margin:0;
  line-height: 32px;
  font-size: 24px;
  color: #191919;
}
article .title * {
  color: #191919;
}
article .title h2 {
  margin-top: 0;
  font-size: 12px;
}
article .title {
  position: relative;
  margin-top: 100px;
  margin-bottom: 30px;
}
article h2, article h1 {
  margin: 28px 0 16px 0;
  font-size: 16px;
  color: #404040;
}
article h2 *, article h1 * {
  color: #404040;
}
.pagination {
  margin-top: 70px;
  min-width: 100%;
  text-align: center;
}
pre, code {
  overflow: scroll;
  color:#191919;
  font-size: 14px;
  background-color: #d9d9d9;
}
code {
  padding:2px 6px;
}
pre {
  padding: 20px 22px;
  margin: 24px 0;
}
pre code {
  padding:0;
}
