---
layout: default
title: bsquared
---


{% for post in paginator.posts %}
 	<article class='home'>
    <header>
 			<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
 			<h3>
          {{ post.date | date_to_string }} | 
          {%if post.commentslink %} 
            <a href="{{post.commentslink}}" target="_blank">Comments</a>  | 
          {% endif %}
          <a href="{{post.url}}">Permalink</a>
      </h3>
 		</header>
    <section class='main'>
 		  {{ post.excerpt }}
    </section>
    <section>
      <a class='see-more' href='{{ post.url }}'>Read More</a>
    </section>
 	</article>
{% endfor %}


<article>
  <section>
    <div class="pagination">
  	  {% if paginator.previous_page %}
    	  <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
  	  {% endif %}
  	  {% if paginator.next_page %}
     	  <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
  	  {% endif %}
    </div>
  </section>
</article>


