---
layout: default
---

    <article>
      <header>
        <h2>{{ page.title }}</h2>
        <h3>
          {{ page.date | date_to_string }}<div class='separator'>|</div>
          {%if page.commentslink %}
            <a href="{{ page.commentslink }}" target="_blank">Comments</a>
            <div class='separator'>|</div>
          {% endif %}
          <a href="{{ page.url }}">Permalink</a><div class='separator'>|</div>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
        </h3>
      </header>
      {% if page.quote %}
        <div class='blockquote-wrap'>
          <blockquote class='tk-adelle'>
            {{ page.quote }}
          </blockquote>
        </div>
      {% endif %}
      <section>
        {{ content }}
      </section>
      <footer>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_sharing_toolbox"></div>
        {% if page.comments %}
          <hr/>
          <em>{{page.comments}}</em>
        {% endif %}
      </footer>
    </article>
    <script type="text/javascript">
      var addthis_share = addthis_share || {}
      addthis_share = {
        passthrough : {
          twitter: {
            via: "brianbrunner"
          }
        }
      }
    </script>
